<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="flex flex-column p-0 w-full">
  <p-menubar styleClass="flex w-full">
    <ng-template pTemplate="start">
      <div class="flex align-items-center justify-content-center">
        <img cImg src="assets/logo.png" alt="" class="bg-primary border-round p-2 h-3rem mr-3">
        <h3 class="">Adios</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button icon="pi pi-shopping-cart"></p-button>
    </ng-template>
  </p-menubar>
    <div class="flex w-full align-items-center justify-content-center">
      <p-galleria
        [value]="carouselData"
        [showIndicators]="false"
        [showItemNavigatorsOnHover]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [autoPlay]="true"
        containerClass="w-screen sm:h-25rem xl:h-30rem"
        [circular]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [alt]="item.tagline"
            [src]="item.thumbnail"
            class="w-screen sm:h-25rem xl:h-30rem"
            style="object-fit: cover;"
          />
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <h4 class="text-center text-yellow-100">{{ item.tagline }}</h4>
        </ng-template>
      </p-galleria>

    </div>
    <div class="">
      <h2 class="w-full">Weekly Product:</h2>
      <p-carousel [value]="carouselData" [numVisible]="3" [numScroll]="3" [circular]="false">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img [src]="product.thumbnail" [alt]="product.name" class="w-6 shadow-2" />
                </div>
                <div>
                    <h4 class="mb-1">{{ product.name }}</h4>
                    <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                    
                    <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
